/* Importam estil de text */
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

/* Color Principal */
.second_color {
  background-color: #f2f2f0;
}

/* Color secundario */
#section_color {
  background-color: #e9ecee;
  padding: 40px;
  margin-top: 40px;
}

/* Estilo de los titulos */
#styles_titles {
  font-family: "Syne Mono", monospace;
}

/* TAMANY ICONO */
.fa-film {
  font-size: 30px;
}

/* Diseny Footer */
#footer {
  margin-left: 200px;
  margin-right: 200px;
}

/* Diseny button */
#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.text-align {
  text-align: center;
}

#div_stars {
  font-family: "Syne Mono", monospace;
  background-color: #e9ecee;
}