#body_color {
    background-color: #f2f2f0;
}

#section_color {
    background-color: #e9ecee;
    padding: 40px;
    margin-top: 40px;
}

#title_section {
    font-family: 'Chilanka', cursive;
}

#header_color {
    background-color: #f2f2f0;
}

#header_color {
    background-color: #f2f2f0;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.fa-film{
    font-size: 30px;
}